body {
    font-family: 'Raleway', sans-serif;
    max-width: 1500px;
    margin: auto;
}

.accomodations {
    display: flex;
    
}

.cadre-left, .cadre-right {
    background-color: #F2F2F2;
    border-radius: 15px;
}


.cadre-right {
    width: 300px;
    order: 2;
}

.card-accommodations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    flex: 1 1 30%; /*grow | shrink | basis */
    height: 100px;
    height: 100px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 20px;;
}

.card-popular {
    display: flex;
    flex-direction: column;
}

.activities{
    display: flex;
    justify-content: space-between;
}

.card-activity{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;;
}

.footer{
    background-color: #F2F2F2;
    height: 400px;
    display:flex;
    align-content: flex-start;
}

.about, .our-accomodations, .support {
    margin-right: 150px;
}