body {
    max-width: 1500px;
    margin: auto;
    padding: 16px;
}

* {
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
}

.head-title {
    height: 8%;
    width: 8%;
    margin-bottom: 40px;
}

.anchor {
    margin-right: 30px;
    text-decoration: none;
}

.sign {
    background-color: transparent;
    color: #0065FC;
    border: none;
    font-weight: bold;
}

.top-text {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 8px;
}

.bottom-text {
    font-size: 0.9em;
    margin-bottom: 15px;
}

.search {
    display: inline-flex;
    flex-direction: row;
    border-radius: 15px;
    align-items: stretch;
    margin-bottom: 30px;
}

.search div {
    font-weight: 900;
    padding: 10px;
    text-align: center;
    background-color: #eeeeee;
    border-radius: 15px 0 0 15px;
    color: rgba(0, 0, 0, 0.6);
}

.search input {
    margin: 0;
    border: 1px solid #eeeeee;
    border-left: 0;
    border-right: 0;
    padding: 8px;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.15px;
}

.search input:focus {
    outline: none;
}

.search button {
    margin: 0;
    background: #1976d2;
    font-weight: medium;
    font-size: 16px;
    letter-spacing: 0.25px;
    color: #ffffff;
    border: none;
    padding: 8px;
    border-radius: 0 15px 15px 0;
}

.search button:focus {
    outline: none;
    cursor: pointer;
    background-color: #1565c0;
}

.filters {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.filters label {
    font-weight: bold;
    padding: 10px;
}

.filtre {
    display: flex;
    border: 2px solid #F2F2F2;
    margin-left: 20px;
    border-radius: 25px 25px 25px 25px;
}

.filtre div {
    border-radius: 50px;
    color: #1976d2;
    padding: 0.9em;
    background: #DEEBFF;
}

.filtre button {
    border: none;
    background: #ffffff;
    border-radius: 0 25px 25px 0;
    font-weight: bold;
    padding: 10px;
}

.filtre button:focus {
    outline: none;
    cursor: pointer;
}

.family {
    width: 16px;
    text-align: center;
}

.infos label {
    margin-bottom: 30px;
    font-size: 0.9em;
}

.accomodations {
    display: flex;
    justify-content: space-between;
}

.cadre-left,
.cadre-right {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 16px;
}

.card-accommodations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 16px;
}

img {
    height: 100%;
    width: 100%;
}

.card {
    height: 90px;
    width: 150px;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
}

.card-popular {
    display: flex;
    flex-direction: column;
}

.activities {
    display: flex;
    justify-content: space-between;
}

.card-activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer {
    background-color: #F2F2F2;
    height: 400px;
    display: flex;
    align-content: flex-start;
}

.about,
.our-accomodations,
.support {
    margin-right: 150px;
}