.margin {
    margin-left: 2em;
    margin-right: 2em;
}

body {
    margin: 0;
}

* {
    font-family: 'Raleway', sans-serif;
}

nav {
    margin-top: 30px;
}

header {
    display: flex;
    justify-content: space-between;
}

.head-title {
    height: 8%;
    width: 8%;
    margin-bottom: 40px;
    margin-top: 30px;
}

.anchor {
    color: black;
    margin-right: 30px;
    text-decoration: none;
    padding-top: 28px;
}

.anchor:focus {
    border-top: #0065FC solid 2px;
    color: #0065FC;
}

.sign {
    background-color: transparent;
    color: #0065FC;
    border: none;
    font-weight: bold;
}

.sign:focus {
    outline: none;
}

.sign:active {
    color: blue;
}

.top-text {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 8px;
}

.bottom-text {
    font-size: 0.9em;
    margin-bottom: 15px;
}

.search {
    display: inline-flex;
    flex-direction: row;
    border-radius: 15px;
    align-items: stretch;
    margin-bottom: 30px;
}

.search div {
    font-weight: 900;
    padding: 10px;
    text-align: center;
    background-color: #eeeeee;
    border-radius: 15px 0 0 15px;
    color: black;
}

.search input {
    margin: 0;
    border: 1px solid #eeeeee;
    border-left: 0;
    border-right: 0;
    padding: 8px;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.15px;
}

.search input:focus {
    outline: none;
}

.search button {
    margin: 0;
    background: #1976d2;
    font-weight: medium;
    font-size: 16px;
    letter-spacing: 0.25px;
    color: #ffffff;
    border: none;
    padding: 8px;
    border-radius: 0 15px 15px 0;
}

.search button:focus {
    outline: none;
    cursor: pointer;
    background-color: #1565c0;
}

.filters {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.filters label {
    font-weight: bold;
    padding: 10px;
}

.filtre {
    display: flex;
    border: 2px solid #F2F2F2;
    margin-left: 20px;
    border-radius: 25px 25px 25px 25px;
}

.filtre>div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #1976d2;
    background: #DEEBFF;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    transform: scale(1.1);
}

.filtre button {
    border: none;
    background: #ffffff;
    border-radius: 0 25px 25px 0;
    font-weight: bold;
    padding: 10px;
}

.filtre button:focus {
    outline: none;
    cursor: pointer;
}

.infos {
    display: flex;
}

.infos i {
    margin-right: 0.5em;
    color: #1976d2;
    background-color: white;
}

.infos label {
    margin-bottom: 30px;
    font-size: 0.9em;
}

.stars {
    display: flex;
    margin-bottom: 5px;
}

.stars i {
    color: #1976d2;
}

.stars-popular {
    display: flex;
    margin-bottom: 0px;
}

.stars-popular i {
    color: #1976d2;
}

.accomodations {
    display: flex;
}

.cadre-left label {
    font-weight: bold;
}

.cadre-left,
.cadre-right {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 16px;
}

.cadre-right {
    margin-left: 50px;
}

.card-accommodations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
}

.card-accommodations img {
    height: 60%;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}

.card {
    height: 200px;
    width: calc(33% - 60px);
    margin: 10px;
    background-color: white;
    border: 4px solid white;
    border-radius: 15px;
    min-width: 150px;
}

.card h1 {
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}

.card div {
    font-size: 13px;
    margin-left: 5px;
}

.popular {
    display: flex;
    flex-direction: column;
}

.card-popular {
    display: flex;
    height: 100px;
    width: 400px;
    margin: 15px;
    background-color: white;
    border: 4px solid white;
    border-radius: 15px;
}

.card-popular img {
    height: 100%;
    width: 40%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.title-icon {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
}

.title-icon label {
    font-weight: bold;
}

.title-icon i {
    font-size: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-content h1 {
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}

.card-content div {
    font-size: 13px;
    margin-left: 5px;
}

.activities {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.activities label {
    font-weight: bold;
}

.activity {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0;
    display: flex;
}

.column {
    width: 25%;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

#port {
    width: 25%;
    background-color: white;
    border: 4px solid white;
    border-radius: 15px;
    min-width: 150px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-right: 2%;
}

#port img {
    height: 90%;
}

#port-title {
    font-weight: bold;
    padding-top: 15px;
    padding-left: 10px;
}

#calanques {
    margin-left: 2%;
    margin-right: 2%;
    width: 25%;
    background-color: white;
    border: 4px solid white;
    border-radius: 15px;
    min-width: 150px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#calanques img {
    height: 90%;
}

#calanques-title {
    font-weight: bold;
    padding-top: 15px;
    padding-left: 10px;
}

#pomegues {
    height: 50%;
    background-color: white;
    border: 4px solid white;
    border-radius: 15px;
    min-width: 150px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#pomegues img {
    height: 80%;
}

#pomegues-title {
    font-weight: bold;
    padding-left: 10px;
    padding-top: 15px;
}

#frioul {
    height: 40%;
    background-color: white;
    border: 4px solid white;
    border-radius: 15px;
    min-width: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#frioul img {
    height: 75%;
}

#frioul-title {
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
}

#notre-dame {
    height: 40%;
    background-color: white;
    border: 4px solid white;
    border-radius: 15px;
    min-width: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 6%;
}

#notre-dame img {
    height: 75%;
}

#notre-dame-title {
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
}

#longchamp {
    height: 50%;
    background-color: white;
    border: 4px solid white;
    border-radius: 15px;
    min-width: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#longchamp img {
    height: 80%;
}

#longchamp-title {
    font-weight: bold;
    padding-left: 10px;
    padding-top: 15px;
}

.activity img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}

footer {
    background-color: #F2F2F2;
    display: flex;
    align-content: flex-start;
    padding: 30px;
    margin: 0;
}

footer span {
    font-weight: bold;
    font-size: large;
}

.about,
.our-accomodations,
.support {
    width: 33%;
}

@media (max-width:1450px) {
    .card {
        width: calc(50% - 40px)
    }
}

@media (max-width: 1200px) {
    .card-popular {
        width: 250px;
    }
}

@media (max-width: 500px) {
    .margin {
        display: flex;
        flex-direction: column;
    }
}

// flex-direction column, space betxeen