body {
    font-family: 'Raleway', sans-serif;
    max-width: 1500px;
    margin: auto;
    padding: 16px;
}

header{
    display: flex;
    justify-content: space-between;
    margin-right: 0;
}

.head-title{
    color: #0065FC;
}
.anchor {
    margin-right: 30px;
    text-decoration: none;
}

.sign{
    background-color: transparent;
    color: #0065FC;
    border: none;
    font-weight: bold;
}


.accomodations {
    display: flex;
    justify-content: space-between;
}

.cadre-left, .cadre-right {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 16px;
}


.cadre-right {
   
}

.card-accommodations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 16px;
}

.card {
    flex: 1 1 30%; /*grow | shrink | basis */
    height: 100px; 
    height: 100px;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    
}

.card-popular {
    display: flex;
    flex-direction: column;
}

.activities{
    display: flex;
    justify-content: space-between;
}

.card-activity{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;;
}

.footer{
    background-color: #F2F2F2;
    height: 400px;
    display:flex;
    align-content: flex-start;
}

.about, .our-accomodations, .support {
    margin-right: 150px;
}